@model IEnumerable<Accomplishment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="booger" style="color:green;">Indexboogyer</h1>


<p>
    <a class="createnew" asp-action="Create">Create New</a>
    <a class="createnew" asp-action="_CreateCategory">Create New</a>
    <p>Page Loaded at: @ViewBag.CurrentTime</p>
    <img src="https://www.pngmart.com/files/4/Croissant-Transparent-PNG.png" width="100px">
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
            <partial name="~/Views/Accomplishment/_Category.cshtml" />
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @if(item.Status == true){
                    <script type="text/javascript">
                    var total_images = 3;
                    var random_number = Math.floor((Math.random()*total_images));
                    var random_img = new Array();
                    random_img[0] = '<a href="page1.html"><img src="https://www.pngmart.com/files/4/Croissant-PNG-File.png" width="50px"></a>';
                    random_img[1] = '<a href="page2.html"><img src="https://pngimg.com/uploads/mug_coffee/mug_coffee_PNG16855.png" width="50px"></a>';
                    random_img[2] = '<a href="page3.html"><img src="https://pennsyderm.com/wp-content/uploads/Green-Tea-PNG.png" width="50px"></a>';
                    document.write(random_img[random_number]);
                    </script>
                    }
                @if(item.Status == false){<p>not complete!</p>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }

    </tbody>
</table>
